<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>      
    <tr class="vacancy"> 
     <td class="title"><a href="https://www.work.ua/jobs/1845743/">Junior Java developer </a></td> 
     <td class="city">Днепр (Днепропетровск)&nbsp;</td> 
     <td class="companyName">Ardas </td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://rabota.ua//company3436873/vacancy5858999">Junior Java developer (Приднепровск)</a></td> 
     <td class="city">Днепр (Днепропетровск)</td> 
     <td class="companyName">Ardas</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://rabota.ua//company730575">Object Recognition Software Engineer – Engineering Department</a></td> 
     <td class="city">Днепр (Днепропетровск)</td> 
     <td class="companyName">AMC Bridge</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://rabota.ua//company237132/vacancy6354930">Младший программист/специалист по автоматизации тестирования</a></td> 
     <td class="city">Днепр (Днепропетровск)</td> 
     <td class="companyName">БИФИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/18278672?query=java%20junior%20Dnepr">Junior Reverse Engineer for Check Point Software Technologies</a></td> 
     <td class="city">Днепр (Днепропетровск), Вокзальная</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>